.BuySellButtons {
    display: flex;

    button {
        height: 70px !important;
    }

    .sell {
        margin-right: 30px;
        flex-grow: 1;
    }

    .buy {
        flex-grow: 1;
    }
}