.TargetInput {
    margin: 40px 0 40px 0;

    .input-title {
        margin-bottom: 5px;
    }

    .input-wrapper {
        display: flex;

        button {
            margin-left: 5px;
        }
    }
}