.CalculatedValues {
    .active {
        background-color: rgb(183, 171, 6) !important;
        border-color: #ddd !important
    }

    .list-group-item {
        display: flex;
        padding: 25px;
        .copied {
            font-size: 0.8rem;
            right: 0;
            font-weight: 700;
            margin-left: auto;
        }
    }
}